- lineinfile:
    path: /root/.ssh/known_hosts
    regexp: ".*{{ hostvars[item]['ansible_host'] }}.*"
    state: absent
  with_flattened:
  - "{{ groups['bootstrap'] }}"
  - "{{ groups['masters'] }}"
  - "{{ groups['workers'] }}"
