strict-order
domain-needed
log-queries
{% for host in groups['masters'] %}
srv-host=_etcd-server-ssl._tcp.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}},etcd-{{ loop.index0 }}.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}},2380,0,10
address=/etcd-{{ loop.index0 }}.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}}/{{ hostvars[host]['ansible_host'] }}
{% endfor %}
address=/api.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}}/{{ hostvars[groups['bastion'][0]]['ansible_host'] }}
address=/api-int.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}}/{{ hostvars[groups['bastion'][0]]['ansible_host'] }}
address=/.apps.{{ocp4_cluster_name}}.{{ocp4_cluster_domain_name}}/{{ hostvars[groups['bastion'][0]]['ansible_host'] }}

